BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty

# Switch/Case
IndentCaseLabels: true

# Pointers
PointerAlignment: Left

# Includes
SortIncludes: CaseSensitive

# Namespace
NamespaceIndentation: All

# Alignment
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
SpaceAfterCStyleCast: false
